.checkedBoxFormat::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../../../assets/icon/checkRadio.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center center;
  transform: scale(1.6);
  opacity: 0;
}
.iconNotification svg{
display: flex;
justify-content: center;
width: 100%!important;
height: 300px!important;
}